li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar-fixed-top {
    background-color: #e8acc2;
    border-color: #ffffff;
}
.navbar-brand {
    float: none;
    margin: auto;
    padding: 0px;
}
.navbar-brand img {
    margin: auto;
}
.navbar-header {
    float: none;
}
.bull-space {
    padding-left: 15px;
    padding-right: 15px;
}
.header-menu, .header-menu a {
    color: black;
}
.header-menu a:hover, .header-menu a:focus {
    text-decoration: none;
}


@media (max-width: 768px) {
    .navbar-brand img {
        height: 50px;
    }
    .navbar-header {
        float: none;
        padding-top: 15px;
    }
    .header-menu {
        font-size: 15px;
        padding-bottom: 5px;
    }
}


@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .navbar-brand img {
        height: 100px;
    }
    .navbar-header {
        float: none;
        padding-top: 30px;
    }
    .header-menu {
        font-size: 20px;
        padding-bottom: 10px;
    }
}
