
<div class="col-md-6 col-md-offset-3 about-div">

    <div class="col-sm-12 paragraph">
        <img src="assets/images/portrait.jpg" class="pull-left portrait-image">

        <p>
            Jestem absolwentką projektowania ubioru w MSKPU w Warszawie i finalistką konkursu New Look Design Refresh 2016. Tworzę kolekcje dla kobiet świadomych mody, lubiących łączyć nowoczesny design z klasycznymi elementami.
        </p>

        <p>
            Marzę o tym, aby spotykać ludzi w swoich kreacjach na ulicy. Dlatego moje projekty są dalekie od przerysowań i udziwnień. Lubię ubiory proste, nowoczesne w formie i detalu, ready-to-wear. Wyróżniam je autorskimi printami, ciekawą kompozycją tkanin i nowoczesnymi rozwiązaniami technicznymi.
        </p>
        <p>
            Jestem osobą spokojną, otwartą i kreatywną. Pragnę wciąż uczyć się nowych rzeczy, poszerzając tym swoje horyzonty.
        </p>

    </div>

</div>